# Ignore environment files
.env

# Ignore Python compiled files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
venv/
env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp
*.swp

# Ignore IDE settings
.vscode/
.idea/

# Ignore build artifacts
build/
dist/
*.egg-info/

# Ignore coverage reports
coverage/
.coverage
*.cover

# Ignore Anaconda Navigator files
*.conda

# Ignore chroma metadata
chroma/*/length.bin